/* reset */

* {
  margin: 0;
  padding: 0;
}

/* universal attributes */

html {
  font-family: 'Open Sans', sans-serif;
  color: #f2f2f2;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}



/* hero page background image */

.hero {
  background-image: url("background-new.jfif");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* header container */

.header {
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
  padding: 0 7em;
}

/* social links */

.social-links img {
  width: 34px;
}

.github {
  position: fixed;
  top: 46%;
  left: 95%;
  z-index: 2;
}

.twitter {
  position: fixed;
  top: 54%;
  left: 95%;
  z-index: 2;
}

.social-links-2 {
  display: none;
}

/* logo attributes */

.logo {
  padding-top: 1.5em;
}

.logo h3 {
  font-size: 1.5rem;
}

.logo span {
  font-size: 0.9rem;
  color: #C2C1C1;
}

/* menu attributes */

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  width: 7em;
  text-align: center;
  padding: 2em 0;
}

.menu li a {
  text-decoration: none;
  color: #f2f2f2;
  width: 7em;
  padding: 1em;
  text-align: center;
  transition: 0.5s;
}

.menu li a:hover {
  color: #1586F7;
}

.active {
  border-bottom: 4px solid #1586F7;
}

/* main text attributes */

.content {
  margin: 5em 0 0 7em;
}

.content h2 {
font-size: 3rem;
}

.content p {
  font-size: 1.5rem;
  padding: 1em 0;
}

.content span {
  font-size: 1rem;
  color: #C2C1C1;
}

/* button attributes */

.btn-box {
  padding: 2em 0;
}

.btn-box button {
  padding: 1em 2em;
  border: 1px solid #1586F7;
  color: #1586F7;
  border-radius: 2em;
  transition: 0.3s;
  font-weight: 500;
  background-color: transparent;

}

.btn-box button:hover {
  color: #f2f2f2;
  box-shadow: inset 12em 0 0 0 #1586F7;
}

/* projects page */

.background {
  background-color: #222222;
  width: 100vw;
}

.projects-header {
  background-color: #191818;
  padding: 0 7em;
}

.projects-content {
  display: flex;
}

.project-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  
}

.project-title-box {
  display: flex;
  justify-content: center;
}

.project-box h2 {
  font-size: 2.5rem;
  font-weight: 400;
  padding: 1em;
}

.blue-styling {
  font-size: 1.5rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  color: #1586F7;
}

.info-title {
  padding: 0 0 0 1em;
}

.info-para {
  font-size: 1rem;
  color: #C2C1C1;
  padding: 0.5em 5em;
  height: 5em;
}

.closing-bracket {
  padding: 0 0 1em 1em;
}

.img-box {
  width: 90%;
  margin: 0 auto;
}

.project-box img {
  width: 100%;
  filter: brightness(60%);
  transition: 0.5s;
  border-radius: 1em;
  position: relative;
  z-index: 1;
}

.project-box img:hover {
  filter: brightness(100%);
  box-shadow: 0 0 20px #1586F7;
}

/* Contacts page */

.contact-background {
  width: 100vw;
  height: 100vh;
  background-color: #222222;
}

.main-box {
  padding: 3em 0 0 20em;
}

.main-box h4 {
  padding-left: 10px;
}

.main-box a {
  color: #f2f2f2;
  transition: 0.3s;
}

.main-box a:hover {
  color: #1586F7;
}

.contact-title-box  {
  
}

.contact-title-box h1 {
  font-size: 4rem;
  padding-left: 10px;
}

.contact-phone-box {
  padding-top: 2em;
  font-size: 1.5rem;
}

.contact-email-box {
  padding-top: 1em;
  font-size: 1.5rem;
}

.contact-linkedin-box {
  padding-top: 2em;
  font-size: 1.5rem;
}

.elements {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.7rem;
  color: #686768;
}

.pad {
  padding: 0.2em 0;
}

@media only screen and (max-width: 850px) {
  .header {
    justify-content: center;
  }

  .logo {
    display: none;
  }

  .content {
    text-align: center;
    margin: 3em auto;
  }

  .social-links {
    display: none;
  }

  .social-links-2 {
    display: flex;
    justify-content: center;
  }

  .social-links-2 img {
    width: 34px;
    padding: 0 2em;
  }
}

@media only screen and (max-width: 650px) {
  .content h2 {
    font-size: 2rem;
  }

  .content p {
    font-size: 1rem;
  }

  .content span {
    font: 0.75rem;
  }
}

@media only screen and (max-width: 350px) {
  .content h2 {
    font-size: 1.2rem;
  }

  .content p {
    font-size: 0.75rem;
  }

  .content span {
    font: 0.5rem;
  }
}